@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/lib/flatpickr/flatpickr.min.css">
<script src="~/lib/flatpickr/flatpickr.min.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button class="btn btn-primary js-add-dynamic-task-button" data-bs-toggle="modal" data-bs-target="#dynamicTaskModal">Add Dynamic Task</button>
    <button class="btn btn-primary js-add-fixed-task-button" data-bs-toggle="modal" data-bs-target="#fixedTaskModal">Add Fixed Task</button>

    <div class="modal fade" id="dynamicTaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="dynamicTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="dynamicTaskModalLabel">Add Dynamic Task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="dynamicTaskForm" method="post" asp-page-handler="DynamicTaskFormHandler">
                        <label for="dynamicTaskName">Name:</label>
                        <input id="dynamicTaskName" type="text" name="name" > <br />
                        <label for="dynamicTaskDescription">Description:</label>
                        <input id="dynamicTaskDescription" type="text" name="description"> <br />
                        <label for="dynamicTaskCategory">Category:</label>
                        <input id="dynamicTaskCategory" type="text" name="category" required> <br />
                        <label for="dynamicTaskPriority">Priority:</label>
                        <input id="dynamicTaskPriority" type="number" name="priority" min="0" required> <br />
                        <label for="dynamicTaskMinTimeToFinish">Min Time To Finish:</label>
                        <input id="dynamicTaskMinTimeToFinish" type="text" name="minTimeToFinish" required> <br />
                        <label for="dynamicTaskMaxTimeToFinish">Max Time To Finish:</label>
                        <input id="dynamicTaskMaxTimeToFinish" type="time" name="maxTimeToFinish" required> <br />
                        <label for="dynamicTaskOptimalTimeToFinish">Optimal Time To Finish:</label>
                        <input id="dynamicTaskOptimalTimeToFinish" type="time" name="optimalTimeToFinish"> <br />
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="fixedTaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="fixedTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="fixedTaskModalLabel">Add Fixed Task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="fixedTaskForm" method="post" asp-page-handler="FixedTaskFormHandler">
                        <label for="fixedTaskName">Name:</label>
                        <input id="fixedTaskName" type="text" name="name" required> <br />
                        <label for="fixedTaskDescription">Description:</label>
                        <input id="fixedTaskDescription" type="text" name="description"> <br />
                        <label for="fixedTaskCategory">Category:</label>
                        <input id="fixedTaskCategory" type="text" name="category" required> <br />
                        <label for="fixedTaskPriority">Priority:</label>
                        <input id="fixedTaskPriority" type="number" name="priority" min="0" required> <br />
                        <label for="fixedTaskStartTimestamp">Start Timestamp:</label>
                        <input id="fixedTaskStartTimestamp" type="datetime-local" name="startTimestamp" required> <br />
                        <label for="fixedTaskEndTimestamp">End Timestamp:</label>
                        <input id="fixedTaskEndTimestamp" type="datetime-local" name="endTimestamp" required> <br />
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/js/index/index.js"></script>