@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/lib/flatpickr/flatpickr.min.css">
<script src="~/lib/flatpickr/flatpickr.min.js"></script>

<div class="text-center h-100" style="padding-bottom: 20px">
    <div style="height: 20%; min-height: 130px;">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <button class="btn btn-primary js-add-dynamic-task-button" data-bs-toggle="modal" data-bs-target="#dynamicTaskModal">Add Dynamic Task</button>
        <button class="btn btn-primary js-add-fixed-task-button" data-bs-toggle="modal" data-bs-target="#fixedTaskModal">Add Fixed Task</button>
    </div>

    <div id="calculator_react" style="height: 80%"></div>

    <div class="modal fade" id="dynamicTaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="fixedTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="dynamicTaskModalLabel">Add Dynamic Task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="dynamicTaskForm" method="post" asp-page-handler="DynamicTaskFormHandler">
                        <div class="flex-column">
                            <label asp-for="InputDynamicTaskModel.Name">Name:</label> <br />
                            <input asp-for="InputDynamicTaskModel.Name" id="dynamicTaskName" type="text" required> <br />
                            <span asp-validation-for="InputDynamicTaskModel.Name" class="text-danger"></span>
                            <label asp-for="InputDynamicTaskModel.Description">Description:</label> <br />
                            <input asp-for="InputDynamicTaskModel.Description" id="dynamicTaskDescription" type="text"> <br />
                            <span asp-validation-for="InputDynamicTaskModel.Description" class="text-danger"></span>
                            <label asp-for="InputDynamicTaskModel.Category">Category:</label> <br />
                            <input asp-for="InputDynamicTaskModel.Category" id="dynamicTaskCategory" type="text" required> <br />
                            <span asp-validation-for="InputDynamicTaskModel.Category" class="text-danger"></span>
                            <label asp-for="InputDynamicTaskModel.Priority">Priority:</label> <br />
                            <input asp-for="InputDynamicTaskModel.Priority" id="dynamicTaskPriority" type="number" min="0" required> <br />
                            <span asp-validation-for="InputDynamicTaskModel.Priority" class="text-danger"></span>
                            <label asp-for="InputDynamicTaskModel.MinTimeToFinish">Min Time To Finish:</label> <br />
                            <input asp-for="InputDynamicTaskModel.MinTimeToFinish" id="dynamicTaskMinTimeToFinish" type="time" required> <br />
                            <span asp-validation-for="InputDynamicTaskModel.MinTimeToFinish" class="text-danger"></span>
                            <label asp-for="InputDynamicTaskModel.MaxTimeToFinish">Max Time To Finish:</label> <br />
                            <input asp-for="InputDynamicTaskModel.MaxTimeToFinish" id="dynamicTaskMaxTimeToFinish" type="time" required> <br />
                            <span asp-validation-for="InputDynamicTaskModel.MaxTimeToFinish" class="text-danger"></span>
                            <label asp-for="InputDynamicTaskModel.OptimalTimeToFinish">Optimal Time To Finish:</label> <br />
                            <input asp-for="InputDynamicTaskModel.OptimalTimeToFinish" id="dynamicTaskOptimalTimeToFinish" type="time"> <br />
                            <span asp-validation-for="InputDynamicTaskModel.OptimalTimeToFinish" class="text-danger"></span>
                        </div>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="fixedTaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="fixedTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="fixedTaskModalLabel">Add Fixed Task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="fixedTaskForm" method="post" asp-page-handler="FixedTaskFormHandler">
                        <label asp-for="InputFixedTaskModel.Name">Name:</label> <br />
                        <input asp-for="InputDynamicTaskModel.Name" id="dynamicTaskName" type="text" required> <br />
                        <span asp-validation-for="InputDynamicTaskModel.Name" class="text-danger"></span>
                        <label asp-for="InputFixedTaskModel.Description">Description:</label> <br />
                        <input asp-for="InputFixedTaskModel.Description" id="fixedTaskDescription" type="text"> <br />
                        <span asp-validation-for="InputFixedTaskModel.Description" class="text-danger"></span>
                        <label asp-for="InputFixedTaskModel.Category">Category:</label> <br />
                        <input asp-for="InputFixedTaskModel.Category" id="fixedTaskCategory" type="text" required> <br />
                        <span asp-validation-for="InputFixedTaskModel.Category" class="text-danger"></span>
                        <label asp-for="InputFixedTaskModel.Priority">Priority:</label> <br />
                        <input asp-for="InputFixedTaskModel.Priority" id="fixedTaskPriority" type="number" min="0" required> <br />
                        <span asp-validation-for="InputFixedTaskModel.Priority" class="text-danger"></span>
                        <label asp-for="InputFixedTaskModel.StartTimestamp">Start Timestamp:</label> <br />
                        <input asp-for="InputFixedTaskModel.StartTimestamp" id="fixedTaskStartTimestamp" type="datetime-local" required> <br />
                        <span asp-validation-for="InputFixedTaskModel.StartTimestamp" class="text-danger"></span>
                        <label asp-for="InputFixedTaskModel.EndTimestamp">End Timestamp:</label> <br />
                        <input asp-for="InputFixedTaskModel.EndTimestamp" id="fixedTaskEndTimestamp" type="datetime-local" required> <br />
                        <span asp-validation-for="InputFixedTaskModel.EndTimestamp" class="text-danger"></span>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

@{
    var openModal = Model.OpenModal as int? ?? (int)IndexModel.OpenModalType.None;

    switch (openModal)
    {
        case (int)IndexModel.OpenModalType.DynamicTask:
            <script>
                $(document).ready(function () {
                    $('.js-add-dynamic-task-button').click();
                });
            </script>
            break;
        case (int)IndexModel.OpenModalType.FixedTask:
            <script>
                $(document).ready(function () {
                    $('.js-add-fixed-task-button').click();
                });
            </script>
            break;
    }
}

<script src="~/js/index/index.js"></script>
<link rel="stylesheet" href="~/js/calendar/build/main.css" asp-append-version="true" />
<script src="~/js/calendar/build/main.js"></script>