@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button class="btn btn-primary js-add-dynamic-task-button" data-bs-toggle="modal" data-bs-target="#dynamicTaskModal">Add Dynamic Task</button>
    <button class="btn btn-primary js-add-fixed-task-button" data-bs-toggle="modal" data-bs-target="#fixedTaskModal">Add Fixed Task</button>

    <div class="modal fade" id="dynamicTaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="dynamicTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="dynamicTaskModalLabel">Add Dynamic Task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="dynamicTaskForm" method="post" asp-page-handler="DynamicTaskFormHandler">
                        <label for="name">Name:</label> 
                        <input id="name" type="text" name="name"> <br />
                        <label for="description">Description:</label>
                        <input id="description" type="text" name="description"> <br />
                        <label for="category">Category:</label>
                        <input id="category" type="text" name="category"> <br />
                        <label for="priority">Priority:</label>
                        <input id="priority" type="number" name="priority" min="0"> <br />
                        <label for="minTimeToFinish">Min Time To Finish:</label>
                        <input id="minTimeToFinish" type="time" name="minTimeToFinish" min="00:00" max="23:59" pattern="[0-2][0-9]:[0-5][0-9]"> <br />
                        <label for="maxTimeToFinish">Max Time To Finish:</label>
                        <input id="maxTimeToFinish" type="time" name="maxTimeToFinish"> <br />
                        <label for="optimalTimeToFinish">Optimal Time To Finish:</label>
                        <input id="optimalTimeToFinish" type="time" name="optimalTimeToFinish"> <br />
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="fixedTaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="fixedTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="fixedTaskModalLabel">Add Fixed Task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="fixedTaskForm" method="post" asp-page-handler="FixedTaskFormHandler">
                        <label for="name">Name:</label>
                        <input id="name" type="text" name="name"> <br />
                        <label for="description">Description:</label>
                        <input id="description" type="text" name="description"> <br />
                        <label for="category">Category:</label>
                        <input id="category" type="text" name="category"> <br />
                        <label for="priority">Priority:</label>
                        <input id="priority" type="number" name="priority" min="0"> <br />
                        <label for="startTimestamp">Start Timestamp:</label>
                        <input id="startTimestamp" type="datetime-local" name="startTimestamp"> <br />
                        <label for="endTimestamp">End Timestamp:</label>
                        <input id="endTimestamp" type="datetime-local" name="endTimestamp"> <br />
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/js/index/index.js"></script>