@page
@using TimeHacker.Application.Pages
@model TasksAndEventsModel
@{
    ViewData["Title"] = "Tasks and Events";
}

<div class="text-center">
    <h1 class="display-4">List of tasks</h1>
    <div class="row">
        <div class="col-sm">
            @Html.DisplayFor(m => m.DynamicTasks)
        </div>
        <div class="col-sm">
            @Html.DisplayFor(m => m.FixedTasks)
        </div>
    </div>
</div>