@page
@using TimeHacker.Application.Pages
@model TasksModel
@{
    ViewData["Title"] = "Tasks";
}

<link rel="stylesheet" href="~/lib/flatpickr/flatpickr.min.css">
<script src="~/lib/flatpickr/flatpickr.min.js"></script>

@section Toolbar {
    //toggle for Archive/Active tasks
}

<div class="text-center h-100">
    <div class="nav nav-tabs">
        <li class="nav-item">
            <button class="nav-link active js-open-fixed-tasks-button" id="openFixedTasksLi">Fixed Tasks</button>
        </li>
        <li class="nav-item">
            <button class="nav-link js-open-dynamic-tasks-button" id="openDynamicTasksLi">Dynamic Tasks</button>
        </li>

    </div>
    <div class="js-fixed-task">
        <table class="table js-fixed-tasks">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Priority</th>
                    <th>StartTimestamp</th>
                    <th>EndTimestamp</th>
                    <th>Controls</th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayFor(m => m.FixedTasks)
            </tbody>
        </table>
    </div>
    <div class="js-dynamic-tasks d-none">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Priority</th>
                    <th>MinTimeToFinish</th>
                    <th>MaxTimeToFinish</th>
                    <th>OptimalTimeToFinish</th>
                    <th>Controls</th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayFor(m => m.DynamicTasks)
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="editFixedTaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editFixedTaskModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p>Edit Fixed Task</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="fixedTaskForm" method="post" asp-page-handler="FixedTaskFormHandler">
                        <div class="form-group">
                            <label asp-for="InputFixedTaskModel.Name">Name:</label> <br />
                            <input class="form-control" asp-for="InputFixedTaskModel.Name" id="fixedTaskName" type="text" required> <br />
                            <span asp-validation-for="InputFixedTaskModel.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="InputFixedTaskModel.Description">Description:</label> <br />
                            <textarea class="form-control" asp-for="InputFixedTaskModel.Description" id="fixedTaskDescription" type="text"></textarea> <br />
                            <span asp-validation-for="InputFixedTaskModel.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="InputFixedTaskModel.Category">Category:</label> <br />
                            <input class="form-control" asp-for="InputFixedTaskModel.Category" id="fixedTaskCategory" type="text" required> <br />
                            <span asp-validation-for="InputFixedTaskModel.Category" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="InputFixedTaskModel.Priority">Priority:</label> <br />
                            <input class="form-control" asp-for="InputFixedTaskModel.Priority" id="fixedTaskPriority" type="number" min="0" value="3" required> <br />
                            <span asp-validation-for="InputFixedTaskModel.Priority" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label asp-for="InputFixedTaskModel.StartTimestamp">Start Timestamp:</label> <br />
                                <input class="form-control" asp-for="InputFixedTaskModel.StartTimestamp" id="fixedTaskStartTimestamp" type="datetime-local" required> <br />
                                <span asp-validation-for="InputFixedTaskModel.StartTimestamp" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="InputFixedTaskModel.EndTimestamp">End Timestamp:</label> <br />
                                <input class="form-control" asp-for="InputFixedTaskModel.EndTimestamp" id="fixedTaskEndTimestamp" type="datetime-local" required> <br />
                                <span asp-validation-for="InputFixedTaskModel.EndTimestamp" class="text-danger"></span>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-3" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editDynamicTaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editDynamicTaskModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p>Edit Dynamic Task</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="dynamicTaskForm" method="post" asp-page-handler="DynamicTaskFormHandler">
                        <div class="flex-column">
                            <div class="form-group">
                                <label asp-for="InputDynamicTaskModel.Name">Name:</label> <br />
                                <input class="form-control" asp-for="InputDynamicTaskModel.Name" id="dynamicTaskName" type="text" required> <br />
                                <span asp-validation-for="InputDynamicTaskModel.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="InputDynamicTaskModel.Description">Description:</label> <br />
                                <textarea class="form-control" asp-for="InputDynamicTaskModel.Description" id="dynamicTaskDescription" type="text"></textarea> <br />
                                <span asp-validation-for="InputDynamicTaskModel.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="InputDynamicTaskModel.Category">Category:</label> <br />
                                <input class="form-control" asp-for="InputDynamicTaskModel.Category" id="dynamicTaskCategory" type="text" required> <br />
                                <span asp-validation-for="InputDynamicTaskModel.Category" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="InputDynamicTaskModel.Priority">Priority:</label> <br />
                                <input class="form-control" asp-for="InputDynamicTaskModel.Priority" id="dynamicTaskPriority" type="number" min="0" value="3" required> <br />
                                <span asp-validation-for="InputDynamicTaskModel.Priority" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col">
                                    <label asp-for="InputDynamicTaskModel.MinTimeToFinish">Min Time To Finish:</label> <br />
                                    <input class="form-control" asp-for="InputDynamicTaskModel.MinTimeToFinish" id="dynamicTaskMinTimeToFinish" type="time" required> <br />
                                    <span asp-validation-for="InputDynamicTaskModel.MinTimeToFinish" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label asp-for="InputDynamicTaskModel.MaxTimeToFinish">Max Time To Finish:</label> <br />
                                    <input class="form-control" asp-for="InputDynamicTaskModel.MaxTimeToFinish" id="dynamicTaskMaxTimeToFinish" type="time" required> <br />
                                    <span asp-validation-for="InputDynamicTaskModel.MaxTimeToFinish" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="InputDynamicTaskModel.OptimalTimeToFinish">Optimal Time To Finish:</label> <br />
                                <input class="form-control" asp-for="InputDynamicTaskModel.OptimalTimeToFinish" id="dynamicTaskOptimalTimeToFinish" type="time"> <br />
                                <span asp-validation-for="InputDynamicTaskModel.OptimalTimeToFinish" class="text-danger"></span>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-3" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/utils.js"></script>
<script src="~/js/tasks/tasks.js"></script>