@page
@using TimeHacker.Application.Pages
@model TasksAndEventsModel
@{
    ViewData["Title"] = "Tasks";
}

<link rel="stylesheet" href="~/lib/flatpickr/flatpickr.min.css">
<script src="~/lib/flatpickr/flatpickr.min.js"></script>

<div class="text-center h-100">
    <div class="nav nav-tabs">
        <li class="nav-item">
            <button class="nav-link active js-open-fixed-tasks-button" id="openFixedTasksLi">Fixed Tasks</button>
        </li>
        <li class="nav-item">
            <button class="nav-link js-open-dynamic-tasks-button" id="openDynamicTasksLi">Dynamic Tasks</button>
        </li>

    </div>
    <div class="js-fixed-task">
        <table class="table js-fixed-tasks">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Priority</th>
                    <th>StartTimestamp</th>
                    <th>EndTimestamp</th>
                    <th>Controls</th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayFor(m => m.FixedTasks)
            </tbody>
        </table>
    </div>
    <div class="js-dynamic-tasks d-none">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Priority</th>
                    <th>MinTimeToFinish</th>
                    <th>MaxTimeToFinish</th>
                    <th>OptimalTimeToFinish</th>
                    <th>Controls</th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayFor(m => m.DynamicTasks)
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="editFixedTaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editFixedTaskModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="nav nav-tabs">
                        <h4>Edit Fixed Task</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editDynamicTaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editDynamicTaskModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="nav nav-tabs">
                        <h4>Edit Dynamic Task</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/tasks/tasks.js"></script>